<!DOCTYPE html>
<html lang="en">
<head>
	<title>Create Note</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<!-------------------------------------------- Navigation Bar --------------------------------------------------------------->
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<ul class="navbar-nav mr-auto">
		{% if session['user_category'] == 'administrator'%}
			<a class="nav-time nav-link" href="/admin">Admin Page</a>
		{% endif %}
			<a class="nav-time nav-link" href="/">Home</a>
		</ul>
		<ul class="navbar-nav ml-auto">
			{% if session['username'] %}
				<a class="nav-item nav-link" href="/logout">Log out {{session['username']}}</a>
			{% else %}
				<a class="nav-item nav-link" href="/login">Login</a>
				<a class="nav-item nav-link" href="/signup">Sign Up</a>
			{% endif %}
		</ul>
	</nav>
	<!-------------------------------------------------------------------------------------------------------------------------->
	<div class="container mt-5">
		<div class="row justify-content-center">
			<h1> Create Note </h1>
		</div>
		<div class="row justify-content-center">
			<form action='' method='post'>
				<input type='text' placeholder='Title' name='title' value='{{request.form.title}}' style="width:260px">
				<br>
				<br>
				<textarea placeholder='Content' rows="5" cols="40" name='content' value='{{request.form.content}}' style="width:260px; height:260px"></textarea>
				<br>
				<input type='text' placeholder='Keywords' name='keywords' value='{{request.form.keywords}}' style="width:260px">
				<br>
				<br>
				<input class='btn btn-dark' type='submit' name="submit_button" value='Create' style="margin-left:30%;">
			</form>
		</div>
		{% if error %}
		<div class="row justify-content-center mt-2">
			<p class='error'>{{error}}
		</div>
		{% endif %}
	</div>

</body>
</html>