<html>
<head>
	<title>{{session['note_title']}}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
	<!-------------------------------------------- Navigation Bar --------------------------------------------------------------->
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<ul class="navbar-nav mr-auto">
		{% if session['user_category'] == 'administrator'%}
			<a class="nav-time nav-link" href="/admin">Admin Page</a>
		{% endif %}
			<a class="nav-time nav-link" href="/">Home</a>
		</ul>
		<ul class="navbar-nav ml-auto">
			{% if session['username'] %}
				<a class="nav-item nav-link" href="/logout">Log out {{session['username']}}</a>
			{% else %}
				<a class="nav-item nav-link" href="/login">Login</a>
				<a class="nav-item nav-link" href="/signup">Sign Up</a>
			{% endif %}
		</ul>
	</nav>
	<!-------------------------------------------------------------------------------------------------------------------------->

	<div class="container">
		<div class="row mt-4">
			<h1>{{session['note_title']}}</h1>
		</div>
			<p>Date of creation : {{session['note_date']}}</p>

			<p>{{session['note_content']}}</p>

		<div class="row">
			<a class='btn btn-light' href="/edit">Edit Note</a>
		</div>
	</div>
	{% if error %}
	<div class="row justify-content-center mt-2">
		<p class='error'>{{error}}
	</div>
	{% endif %}
</body>

</html>